@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    @apply bg-gray-950 text-white;
}

/* Custom Drag Region for Wails */
.dragging-header {
    --wails-draggable: drag;
}
